@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap');

:root{
    --background-color: #1845C2;
    --workspace-color: #2A3A65;
    --workspace-item-color: #BB44F7;
    --cards-color: #13338a;
    --to-start-card-color: #5983f8;
    --in-progress-card-color: #4BC563;
    --done-card-color: #EE289F;
    --font-family: 'Lexend Deca';
    --add-button-color: #862BB4;
    --add-button-hover-color: #47195f;
}

.container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 400px;
    width: 903px;
    background-color: var(--background-color);
}

.workspace-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 250px;
    background-color: var(--workspace-color);
    border-radius: 10px;
    margin: 10px;
}

.workspace-card-item{
    background-color: var(--workspace-item-color);
    border-radius: 5px;
    padding: 0;
    margin: 15px 0;
    width: 186px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 336px;
    width: 180px;
    background-color: var(--cards-color);
    border-radius: 10px;
    margin: 10px;
}

.card > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    padding: 12px;
    box-sizing: border-box;
}

.card-item-start{
    background-color: var(--to-start-card-color);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    width: 149px;
    height: 56px;
    display: flex;
    justify-content: center;
}

.card-item-progress{
    background-color: var(--in-progress-card-color);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    width: 149px;
    height: 56px;
    display: flex;
    justify-content: center;
}

.card-item-done{
    background-color: var(--done-card-color);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    width: 149px;
    height: 56px;
    display: flex;
    justify-content: center;
}

.title{
    font-family: var(--font-family);
    margin: 0;           
    padding-top: 8px;    
    line-height: 1.2; 
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 45px;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text-card{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.add-card-button{
    background-color: var(--add-button-color);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    width: 117px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: flex-end;
}

.add-card-button:hover {
    background-color: var(--add-button-hover-color);
}


.add-workspace-button{
    background-color: var(--add-button-color);
    border-radius: 5px;
    padding: 5px;
    margin: 20px;
    width: 130px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: flex-end;
}

.add-workspace-button:hover{
    background-color: var(--add-button-hover-color);
}

.card-fish{
    width: 250px;            
    height: auto;
    margin: 8px 0;         
    align-self: center;     
}